extends ./layout/admin/base
include ./mixins/_flash-messages

block content
    .col-sm-12
      h2 Orders
    .col-sm-12.search_bar
      .input-group
        input#order_filter.form-control(type='text', name='order_filter', placeholder='Filter orders')
        .input-group-append
          button#btn_order_filter.btn.btn-outline-success Filter
          a.hidden-xs.btn.btn-outline-info.orderFilterByStatus(href='/admin/orders/bystatus/')
            | By
            | status
          a.hidden-xs.btn.btn-outline-warning(href='/admin/orders')
            i.fa.fa-search
      .orderFilter
        .row
          .text-warning.top-pad-10.col-sm-8
            | Orders can be filtered by: surname, email
            | address or
            | postcode/zipcode
          .col-sm-4.top-pad-10
            form.form-inline.float-sm-right
              select#orderStatusFilter.form-control
                option Completed
                option Paid
                option Created
                option Cancelled
                option Declined
                option Shipped
                option Pending
    .col-sm-12.top-pad-10
      ul.list-group
        li.list-group-item
          strong Recent orders
        each result, i in results
          li.list-group-item
            .float-right.top-pad-5
              | Status: 
              span.text-success 
                b #{result.orderStatus}  
              a.text-danger.fa.fa-trash(href='/admin/order/delete/'+result._id, onclick="return confirm('Are you sure you want to delete this order?');")
                svg(width='16', height='16', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  use(xlink:href='/dist/feather-sprite.svg#trash-2')
            .top-pad-5
              a.text-success(href='/admin/order/view/'+result._id ) 
                b View order - 
              span.text-info 
                b Date: #{result.orderDate} 
              br
              span.text-info 
                b | Email: #{result.orderEmail}
              span.text-info 
                b | Name: #{result.orderFirstName}  #{result.orderLastName}
      br
