extends ./layout/admin/base
include ./mixins/_flash-messages

block content
    .container-fluid
      .table-wrapper
        .table-title
          .row
            .col-sm-8
              h2
                | All 
                b Products
            .col-sm-4
              a.btn.btn-info.add-new(type='button' href='/admin/add-product')
                i.fa.fa-plus
                |  Add New
        table.table.table-bordered
          thead
            tr
              th 
              th Product Name
              th Category
              th Price (₦)
              th Description
              th inStock
              th Actions
          tbody
            each product, i in products
                tr
                td 
                  img(src=''+product.imageUrl, width='100%', height='100' style="display:block;")
                td #{product.name}
                td #{product.category.name}
                td ₦#{product.price}
                td #{product.description}
                td #{product.inStock}
                td
                    a.edit(title='Edit', data-toggle='tooltip' href="/admin/product/edit/"+product._id)
                        i.fa.fa-edit
                    a.delete-product(href='/admin/product/delete/'+product._id)
                        i.fa.fa-trash
              
                
