extends ./layout/mainlayout
include ./mixins/_flash-messages

block content
    section
      .container-fluid
        .row.blk-pro
          .col-md-1
          .col-sm-5.col-md-4
            img.img-circle.img-responsive.img-center(src='https://www.gravatar.com/avatar/fd63280d534e8130e0853148e7019db0?d=retro&s=200', alt='')
            br
            br
            p
              b First Name:
              |  #{user.firstName}
            p
              b Last Name:
              |  #{user.lastName}
            p
              b Email:
              | #{user.email}
            p
              b Mobile Number:
              |  #{user.phone}
            p
              | Address: #{user.address}
            a.btn.btn-primary(href='/users/edit-profile') Edit Profile
          .col-md-6
            h2#heading.text-center Order History
            table.table.table-striped.sticky-header
              thead
                tr
                  th Item Name
                  th Paid: 
                tbody
                  tr
                    td bags
                    td Paid

    

