extends ./layout/mainlayout
include ./mixins/_flash-messages

block content
    section
      .container
        .row.blk-pro
          .col-md-3
          .col-md-6
            img.img-circle.img-responsive.img-center(src='https://www.gravatar.com/avatar/fd63280d534e8130e0853148e7019db0?d=retro&s=200', alt='')
            br
            br
            h6
              b First Name: 
              | #{user.firstName}
            br
            h6
              b Last Name:
              |  #{user.lastName}
            br
            h6
              b Email:
              | #{user.email}
            br
            h6
              b Mobile Number:
              |  #{user.phone}
            br
            h6
              | Address: #{user.address}
            br
            a.btn.btn-primary(href='/users/edit-profile') Edit Profile
          .col-md-3

    

