extends ./layout/mainlayout
include ./mixins/_flash-messages

block content
    .template-pages
      br
      br
      .container
        +flashMessages()
        .row.ds-admin-panel
          .col-md-1
          .col-md-4
            .hidden-xs
              .about-header
                img.img-responsive(src='https://www.gravatar.com/avatar/fd63280d534e8130e0853148e7019db0?d=retro&s=200', alt='')
                p.store-name #{user.firstName} #{user.lastName}
              ul.print
                li
                  a(href='/users/profile') Profile
                li
                  a(href='/users/orders') Order History
                li
                  a(href='/saved-items') Saved Designs
          .col-md-7
            .row
              .col-sm-8.col-sm-offset-2
                form(method='post', accept-charset='utf-8', role='form', action='/users/edit/'+user._id)
                  div(style='display:none;')
                    input(type='hidden', name='_method', value='PUT')
                  .form-group.input-container
                    label(for='') Email Address
                    input.form-control(type='text', name='username', disabled='disabled', value=user.email)
                  .form-group.input-container
                    .form-group.text
                      label.control-label(for='first-name')
                        | First
                        | Name
                      input#first-name.form-control(type='text', name='first_name', maxlength='255', value=user.firstName)
                  .form-group.input-container
                    .form-group.text
                      label.control-label(for='last-name')
                        | Last
                        | Name
                      input#last-name.form-control(type='text', name='last_name', maxlength='255', value=user.lastName)
                  .form-group.input-container
                    .form-group.text
                      label.control-label(for='address')
                        | Address
                      input#last-name.form-control(type='text', name='address', maxlength='255', value=user.address)
                  .form-group.input-container
                    .form-group.text
                      label.control-label(for='phone-number')
                        | Phone
                        | Number
                      input#phone-number.form-control(type='text', name='phone_number', maxlength='255', value=user.phone)
                  .form-group.form-group.text
                    .form-group.text
                      label.control-label(for="dob") 
                        | Date of Birth
                      input#dob.form-control(type="date", name="dob", value=user.dob)
                  div
                    .submit
                      button.btn.btn-primary(type='submit', value='Update') Submit
